{{ layout "simple_layout.html" }}
{{ $context := . }}
{{ $details := .ShippingDetails }}

<div class="p-3">
    <h2 class="text-center">Оплатить сейчас</h2>
    <p class="text-muted text-center">Введите свои данные для доставки:</p>

    {{ if gt (len $context.ValidationErrors) 0 }}
    <ul class="text-danger">
        {{ range $context.ValidationErrors }}
        <li>{{ index . 0 }}: {{ index . 1 }}</li>
        {{ end }}
    </ul>
    {{ end }}

    <form method="POST" class="mt-3">
        <div class="row">
            <div class="col-md-6">
                <label>Имя:</label>
                <input name="name" class="form-control mb-3" value="{{ $details.Name }}" />
                <label>Улица:</label>
                <input name="streetaddr" class="form-control mb-3" value="{{ $details.StreetAddr }}" />
                <label>Город:</label>
                <input name="city" class="form-control mb-3" value="{{ $details.City }}" />
            </div>
            <div class="col-md-6">
                <label>Штат:</label>
                <input name="state" class="form-control mb-3" value="{{ $details.State }}" />
                <label>Индекс:</label>
                <input name="zip" class="form-control mb-3" value="{{ $details.Zip }}" />
                <label>Страна:</label>
                <input name="country" class="form-control mb-3" value="{{ $details.Country }}" />
            </div>
        </div>
        <div class="text-center mt-3">
            <a class="btn btn-outline-secondary" href="{{ $context.CancelUrl }}">Отмена</a>
            <button class="btn btn-success" type="submit">Подтвердить</button>
        </div>
    </form>
</div>
