{{ layout "store_layout.html" }}

{{ define "left_column" }}
{{ $context := . }}
{{ handler "category" "getbuttons" $context.SelectedCategory }}
{{ end }}

{{ define "right_column" }}
{{ $context := . }}
{{ range $context.Products }}
<div class="card m-2 shadow-sm">
    <div class="card-header bg-primary text-white">
        <h5 class="mb-0">
            {{ .Name }}
            <span class="badge bg-light text-dark float-end">
                    {{ printf "$%.2f" .Price }}
                </span>
        </h5>
    </div>
    <div class="card-body">
        <p>{{ .Description }}</p>
        <form method="POST" action="{{ $context.AddToCartUrl }}">
            <input type="hidden" name="id" value="{{ .ID }}" />
            <button type="submit" class="btn btn-success float-end">
                <i class="fas fa-cart-plus"></i> В корзину
            </button>
        </form>
    </div>
</div>
{{ end }}
{{ template "page_buttons.html" $context }}
{{ end }}
